* {
    margin: 0px 0px;
    padding: 0px 0px;
}

.myborder {
    border: solid rgba(0, 0, 0, 0.1) 1px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav {
    margin-top: 1vh;
    background: #ddd;
    color: white;
    height: 88vh;
}

.footer {
    margin-top: 1vh;
    background: #ddd;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 1vh 2vh;
    height: 8vh;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vh;
    padding: 1vh 2vh;
    box-sizing: border-box;
}

.main> :nth-child(odd) {
    background: #eee;
    padding: 1vh 2vh;
    box-sizing: border-box;
}

.main> :nth-child(even) {
    background: #ddd;
    padding: 1vh 2vh;
    box-sizing: border-box;
}